button {
  margin: 10px 0 10px 0;
}

button:hover {
  cursor: pointer;
}

.upperrow {
  display: flex;
}

.showToken {
  font-size: 12px;
  word-break: break-all;
}

.signup,
.signin,
.checkout,
.signout {
  border: 2px solid #645747;
  box-shadow: 5px 5px grey;
  border-radius: 5%;
  width: 20%;
  max-height: 20%;
  padding: 2%;
}

.signin {
  background-color: #67b363ce;
}

.signup {
  background-color: #ffe4c4;
}
.checkout {
  background-color: #87d2b4;
}
.signout {
  background-color: #6a758e;
}

.todolist {
  border: 2px solid #645747;
  box-shadow: 5px 5px grey;
  border-radius: 5%;
  width: 40%;
  max-height: 20%;
  padding: 2%;
  background-color: #ac9fafce;
}
